# Entorno virtual (no se sube a GitHub) 
.venv/ 
venv/ 

# Python 
__pycache__/ 
*.pyc 

# Jupyter checkpoints 
.ipynb_checkpoints/ 

# Archivos del sistema 
.DS_Store Thumbs.db 

# Variables de entorno (contraseñas, tokens) 
.env